<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.smhrd.team.yh">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_baseline_chevron_left_24"
        android:label="행복혜"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YH"
        android:usesCleartextTraffic="true">
        <activity android:name=".shadow_test"></activity>
        <activity android:name=".search_One" />
        <activity android:name=".Search_Culture" />
        <activity android:name=".Search_Microfinance" />
        <activity android:name=".Search_Dwelling" />
        <activity android:name=".Search_Employ" />
        <activity android:name=".Search_Education" />
        <activity android:name=".Search_Health" />
        <activity android:name=".Search_Low_Income" />
        <activity android:name=".Search_Single_Parent" />
        <activity android:name=".Search_Disabled" />
        <activity android:name=".Search_Old_Age" />
        <activity android:name=".Search_Middle_Age" />
        <activity android:name=".Search_Youth" />
        <activity android:name=".Search_Teenager" />
        <activity android:name=".Search_Child" />
        <activity android:name=".Search_Pregnant" />
        <activity android:name=".JoinResult" />
        <activity android:name=".AS" />
        <activity android:name=".QnA" />
        <activity android:name=".UserInfoChange" />
        <activity android:name=".test2" />
        <activity android:name=".UserInfoChange2" />
        <activity android:name=".hamburger" />
        <activity android:name=".happyApp" />
        <activity android:name=".hemberger_test" />
        <activity android:name=".My_comment" />
        <activity android:name=".user_delete" />
        <activity android:name=".Join">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login" />
        <activity android:name=".join2" />
        <activity android:name=".pw_find" />
        <activity android:name=".id_find" />
        <activity android:name=".ListViewItem" />
        <activity
            android:name=".ListViewAdapter"
            tools:ignore="Instantiatable" />
        <activity android:name=".Notice" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".SearchPage" />
        <activity android:name=".MainActivity" />
        <activity android:name=".volley_test" />
    </application>

</manifest>